#thumb_view, #image_view {
  color: white;
}

#thumb_view {
  background: #080808;
  selection-background-color: #6cc1af;
}

#thumb_view::item {
  border: 2px solid transparent;
  margin: 10px;
  selection-background-color: transparent;
}

#thumb_view::item:hover {
  border: 2px solid #6668ddc4;
  background: 2px solid #2292efdb;
}

#thumb_view::item:selected {
  border: 2px solid #68ddc4;
  background: 2px solid #226cc1af;
}

#thumb_view::item:selected:hover {
  border: 2px solid #cffcf7;
  background: 2px solid #2292efdb;
}

#image_view {
  background: black;
}

#tag_list_box {
  background: #111;
}

#tag_list { 
  border-top: 2px solid black;
  padding: 2px;
  background: #111;
  font-size: 14px;
  qproperty-default_color: #fff;
  qproperty-whitelisted_color: #ada;
  qproperty-blacklisted_color: #daa;
}

#tag_list::item {
  padding: 3px;
  background: blue;
}

#clear_button, #sort_button {
  padding: 5px;
  margin: 4px;
}

#sort_button {
  margin-left: 0;
  border: 2px solid #777;
  background: #444;
  color: #999;
}

#sort_button:hover {
  border: 2px solid #999;
  background: #666;
  color: #bbb;
}

#sort_button:checked {
  border: 2px solid #9bb;
  background: #355;
  color: white;
}

#sort_button:hover:checked {
  border: 2px solid #bdd;
  background: #577;
}

#clear_button {
  background: #211;
  border: 2px solid #877;
  color: #eee;
}

#clear_button:hover {
  background: #433;
  border: 2px solid #a99;
  color: white;
}

#clear_button:pressed {
  background: #1c0c0c;
  border: 2px solid #766;
  color: #fcc;
}

MainWindow {
  background: black;
}

QTabWidget::pane {
  border-top: 1px solid #000;
}

QTabWidget::tab-bar {
  left: 4px;
}

QTabBar::tab {
  padding: 5px 10px 4px;
  margin: 2px;
  margin-bottom: 0;
  border: 1px solid #777;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #999;
  font-weight: bold;
  color: black;
}

QTabBar::tab:selected {
  background: #eee;
  color: black;
}

QTabBar::tab:hover {
  background: #fff;
  color: black;
}

LeftColumn QPushButton {
  background: #666;
  color: white;
  border: 1px solid #555;
  padding: 5px;
}

QScrollArea {
  border: none;
}

#info_box {
  background: #090909;
}

#info_box * {
  color: #fff;
}

#tag {
  font-style: italic;
}

/* Files tab */

QTreeWidget {
  background: #111;
  color: white;
  font-size: 14px;
}


/* Splitters */

QSplitter::handle {
  background: #555;
}
QSplitter::handle:horizontal {
  width: 8px;
}
QSplitter::handle:vertical {
  height: 8px;
}


/* Progress bar */

QProgressBar {
  border: 0;
  background: #000;
  text-align: center;
  color: white;
}
QProgressBar::chunk {
  background: #444;
}


/* Scroll bars */

QScrollBar:vertical {
    background: #080808;
    width: 15px;
}
QScrollBar::handle:vertical {
    background: #666;
    border-radius: 7px;
    min-height: 20px;
}
QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical {
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
