/* Colors */
QPushButton {
  background-color: #0cf;
  color: black;
}
#tag_list {
  qproperty-default_color: #fff;
  qproperty-whitelisted_color: #aaa;
  qproperty-blacklisted_color: #aaa;
  qproperty-hover_background_color: #004a80;
  qproperty-current_image_tags_color: #002947;
}
#show_untagged_toggle:hover {
  background-color: #004a80;
}
#tag_list_box, #tag_list, #show_untagged_toggle {
  background: #111;
}
#show_untagged_toggle::indicator:checked {
  background: #002947;
}

#thumb_view_status_bar[mode="normal"] {
  background-color: #222;
}
#thumb_view_status_bar[mode="select"] {
  background-color: #004a80;
}

/* End colors */

#thumb_view, #image_view {
  color: white;
}

#thumb_view {
  background: #080808;
  selection-background-color: #6cc1af;
}

#thumb_view::item {
  border: 2px solid transparent;
  margin: 10px;
  selection-background-color: transparent;
}

#thumb_view::item:hover {
  border: 2px solid #6668ddc4;
  background: 2px solid #2292efdb;
}

#thumb_view::item:selected {
  border: 2px solid #68ddc4;
  background: 2px solid #226cc1af;
}

#thumb_view::item:selected:hover {
  border: 2px solid #cffcf7;
  background: 2px solid #2292efdb;
}

#thumb_view_status_bar {
  padding-left: 5px;
  padding-top: 2px;
}
#thumb_view_mode_label {
  font-weight: bold;
}

#thumb_view_mode_label, #thumb_view_selection_label {
  color: white;
}

#thumb_view_selection_label {
  margin-left: 20px;
}

#image_view {
  background: black;
}
#tag_list, QPushButton {
  font-size: 14px;
}

#tag_list {
  border-top: 2px solid black;
  padding: 2px;
}

#tag_list::item {
  padding: 3px;
  background: blue;
}

QPushButton {
  border: 0;
  padding: 4px 10px;
  font-size: 14px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  margin: 3px 6px;
}

#sort_menu_button {
  /*border-bottom-left-radius: 0;*/
}

#show_untagged_toggle {
  /*background: #;*/
  padding: 7px 14px;
  color: white;
  font-size: 14px;
  /*margin: 4px auto;*/
  spacing: 10px;
}
#show_untagged_toggle::indicator {
  background: white;
}
#show_untagged_toggle::indicator:unchecked {
}
#show_untagged_toggle::indicator:checked {
  border: 2px solid white;
}

/*#clear_button {
  padding: 5px;
  margin: 4px;
}*/

#sort_alpha_button, #sort_count_button {
  margin-left: 0;
  border: 2px solid #777;
  background: #444;
  color: #999;
}

#sort_alpha_button:hover, #sort_count_button:hover {
  border: 2px solid #999;
  background: #666;
  color: #bbb;
}

#sort_alpha_button:checked, #sort_count_button:checked {
  border: 2px solid #9bb;
  background: #355;
  color: white;
}

#sort_alpha_button:hover:checked, #sort_count_button:hover:checked {
  border: 2px solid #bdd;
  background: #577;
}

#show_untagged_button:checked {
}

MainWindow {
  background: black;
}

QTabWidget::pane {
  border-top: 1px solid #000;
}

QTabWidget::tab-bar {
  left: 4px;
}

QTabBar {
  font-weight: bold;
}
QTabBar::tab {
  padding: 5px 10px 4px;
  margin: 2px;
  margin-bottom: 0;
  border: 1px solid #777;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #999;
  color: black;
}

QTabBar::tab:selected {
  background: #eee;
  color: black;
}

QTabBar::tab:hover {
  background: #fff;
  color: black;
}

LeftColumn QPushButton {
  background: #666;
  color: white;
  border: 1px solid #555;
  padding: 5px;
}

QScrollArea {
  border: none;
}

#info_box {
  background: #090909;
}

#info_box * {
  color: #fff;
}

#tag {
  font-style: italic;
}

/* Files tab */

QTreeWidget {
  background: #111;
  color: white;
  font-size: 14px;
}


/* Splitters */

QSplitter::handle, #main_divider {
  background: #555;
}
QSplitter::handle:horizontal {
  width: 8px;
}
QSplitter::handle:vertical {
  height: 8px;
}


/* Progress bar */

QProgressBar {
  border: 0;
  background: #000;
  text-align: center;
  color: white;
}
QProgressBar::chunk {
  background: #444;
}


/* Scroll bars */

QScrollBar:vertical, QAbstractScrollArea::corner, QScrollBar:horizontal {
    background: #080808;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: #666;
    border-radius: 7px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    width: 15px;
}
QScrollBar::handle:vertical {
    min-height: 20px;
}
QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical {
    height: 0px;
}

QScrollBar:horizontal {
    height: 15px;
}
QScrollBar::handle:horizontal {
    min-width: 20px;
}
QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal {
    width: 0px;
}
